@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
  display: grid;
  background-color: blueviolet;
}
.kannada-text {
  font-family: "Noto Sans Kannada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* 100-900 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}